COMPANY_NAME="Vercel Inc."
TWITTER_CREATOR="@vercel"
TWITTER_SITE="https://nextjs.org/commerce"
SITE_NAME="Next.js Commerce"
PROVIDER_REVALIDATION_SECRET=""
PROVIDER_STOREFRONT_ACCESS_TOKEN=""
PROVIDER_STORE_DOMAIN="[your-provider-store-domain].com"
PROVIDER_STORE_PROTOCOL="https"
ALLOW_CART=true